export(spp.range.metrics)
export(weighted.endemism)
export(phylogenetic.endemism)
export(phylogenetic.diversity.sites)
export(pe.null.test)
export(map.pa.matrix)
export(buffer.frags)
export(endemism.null.test)
export(convert.site.data)
export(map.multi.metrics)
import(raster, maps, vegan, sp)
importFrom("pracma", "polyarea")
importFrom("dismo", "circles")
importFrom("SDMTools", "ClassStat")
importFrom("adehabitatHR", "mcp")
importFrom("ape", "drop.tip", "rtree")
importFrom("geosphere", "distCosine", "areaPolygon")
importFrom("simba", "mama")
importFrom("grDevices", "dev.new", "heat.colors", "topo.colors")
importFrom("stats", "as.dist", "na.omit", "setNames")
importFrom("graphics", "points", "polygon")
importFrom("BAT", "beta.multi")
importFrom("PhyloMeasures", "pd.query")
