export(range.metrics)
export(weighted.endemism)
export(phylogenetic.endemism)
export(phylogenetic.diversity.sites)
export(pe.null.test)
export(map.pa.matrix)
export(buffer.frags)
export(endemism.null.test)
import(geosphere, simba, raster, SDMTools, ape, pracma, maps, vegan)
